.about{
    padding: 3rem 0;
}
.about-content{
    gap: 4rem;
}
.about-title{
    margin: 1rem 0;
}
.about-img img{
    max-width: 520px;
}
.about-text p{
    margin: 1.8rem 0;
    opacity: 0.8;
}

@media screen and (min-width: 800px){
    .about-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .about-title{
        margin-top: 0;
    }
    .about-img img{
        margin-left: 0;
    }
}
.inpt{
    background-color: white;
    color: black;
    width: 60%;
    height: 50px;
    border-radius: 0.5rem solid;
    border: 0.1rem solid;
    border-color: #171738;
    margin-left: 20%;
    margin-top: auto;
   
}
.btn {
    background-color: #171738;
    color: white;
    height: 30px;
    width: 60%;
    margin-left: 20%;
    
   
    
}
.formdata{
    background: white;
    color: black;
    padding: 5em;
    border-radius: 10px solid;
    border: 2px solid;
    border-color: whitesmoke;
    width: 800px;
    max-width: 700px;
    margin: auto;


}
.inputs {
    color: #171738;
    margin-left: 20%;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;

}
.remv{
    background-color: maroon;
    color: white;
    width: 1.7rem;
}
.int{
    background-color: whitesmoke;
    color: black;
    width: 60%;
    height: 30px;
    border-radius: 0.5rem solid;
    border: 0.1rem solid;
    border-color: #171738;
    border-bottom: 0;
    margin-left: 20%;
    margin-top: auto;
    
}
.section-title {
    
    color:#171738;
    
   
}
.about{
    margin: auto;
}